

.scheduleInputWrapper {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 30%;
    right: 0;
    width: 450px;
    padding: 1.5rem;
    background-color: var(--base-light-gray);
}

.employeeField {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.employeeName {
    width: 90%;
}

.employeeHours {
    display: flex;
    gap: 10px;
}

.radioSelect {
    display: flex;
    margin-bottom:1rem ;
}