.scheduleInputWrapper {
    position: absolute;
    display: grid;
    grid-template-areas:
        "date date"
        "servers managers"
        "bar kitchen";
    width: 60%;
    height: 55%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 2.5rem 2.5rem 5rem;
    background-color: var(--base-light-gray);
    box-shadow: 0 2px 6px 0;
    border-radius: 4px;
}

.barForm {
    grid-area: bar;
    height: 8rem;
}

.kitchenForm {
    grid-area: kitchen;
    height: 8rem;
}

.serversForm {
    grid-area: servers;
    height: 8rem;
}

.managersForm {
    grid-area: managers;
    height: 8rem;
}

.currentDate {
    grid-area: date;
}

.employeeField {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.employeeName {
    width: 90%;
}

.employeeHours {
    display: flex;
    gap: 10px;
}

.radioSelect {
    display: flex;
    margin-bottom: 1rem;
}

.closeSchedule {
    position: absolute;
    padding: 0.5rem;
    width: 40px;
    height: 40px;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    border: none;
}

form .submitButton {
    cursor: pointer;
    position: relative;
    bottom: -0.5rem;
    right: -6rem;
    padding: 1rem;
    text-align: center;
}

.formSections {
    position: relative;
    margin-top: 1.5rem;
}

.submitIcon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}