.order_section_item_list {
    display: flex;
    margin: 0 auto 0.5rem;
    overflow-y: scroll;
    height: 100%;
    border-bottom: 1.5px solid rgb(59, 59, 59);

}

.item_button {
    padding: 1rem;
    width: 8.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px 0;
}

.item_button:hover {
    box-shadow: 0 0 5px 0;
}

.order_section_item_list ul {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding: 0 35px;
    justify-items: center;
    justify-content: center;
    gap: 0.5rem;
}