.staffList {
    position: absolute;
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
}

.dayBox {
    height: 100%;
    position: relative;
    cursor: pointer;
}

.dayBox:hover {
    background-color: aqua;
}

.day {
    position: absolute;
    right: 10px;
    top: 5px;
}

.clearDay {
    position: absolute;
    margin: auto;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.past {
    opacity: 0.5;
}
.past:hover {
    background-color: rgb(194, 23, 49);
}
.today {
    background-color: green;
}
